services:
  songs-api:
    build: .
    environment:
      - NODE_ENV=development
      - VIRTUAL_HOST=api-dev.songs.local
      - VIRTUAL_PORT=8080
    volumes:
       - api-logs:/usr/src/app/logs
    networks:
      - default
      - songs-proxy-network

  songs-web:
    build:
      context: ./songs-app
      target: build
    command: npm run dev
    volumes:
      - ./songs-app:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://api-dev.songs.local/api/v1
      - VIRTUAL_HOST=dev.songs.local
      - VIRTUAL_PORT=5173
    networks:
      - default
      - songs-proxy-network

networks:
  songs-proxy-network:
    external: true
