services:
  songs-api:
    environment:
      - NODE_ENV=production
      - VIRTUAL_HOST=api-prod.songs.local
      - VIRTUAL_PORT=8080
    restart: always
    networks:
      - default
      - songs-proxy-network

  songs-web:
    build:
      context: ./songs-app
      args:
        - VITE_API_URL=http://api-prod.songs.local/api/v1
    restart: always
    ports:
      - "8082:80"
    environment:
      - VIRTUAL_HOST=prod.songs.local
      - VIRTUAL_PORT=80
    networks:
      - default
      - songs-proxy-network

networks:
  songs-proxy-network:
    external: true
