version: '3'
services: 
  songs-api:
    build: .
    image: songs-api-compose:latest
    ports:
      - "8080:8080"
    environment:
      - MONGO_URI=mongodb://mongo:27017/songsdb
    restart: on-failure
    depends_on:
      mongo:
        condition: service_healthy
  mongo:
    image: "mongo"
    ports:
      - "27017:27017"
    volumes:
      - "./data:/data/db"
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
